{% capture content %}
<!doctype html>
<html lang="{{ shop.locale }}">
<head>{% render 'pagefly-head' %}
  <meta charset="utf-8">
  {% render 'pagespeed' %}
  <!-- Mic Ads Tag -->
  <script>function uet_report_conversion() {window.uetq = window.uetq || [];window.uetq.push('event', 'PRODUCT_PURCHASE', {"ecomm_prodid":"{{ product.id }}","ecomm_pagetype":"PURCHASE","revenue_value":1,"currency":"USD"});}</script>
 <!-- Google Tag Manager -->
<script>function gtmLoad (){(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
})(window,document,'script','dataLayer','GTM-5CZGVKG')}; trkArr.push(gtmLoad);</script>
<!-- End Google Tag Manager -->

  <!-- Start Site-verification from Plugin SEO App -->
  <meta name="google-site-verification" content="781HQMlhct3hfEchBUNCm6m2a6rLE6rba0QX6Z92BPY" />
  <!-- End Site-verification from Plugin SEO App -->
  <meta name="google-site-verification" content="XYI9hbh7eAbNVX0NmV4zkhnPBJH7w7D3x9O9dtkjVQQ" />
  <meta http-equiv="cleartype" content="on">
  <meta name="robots" content="index,follow">
  <meta name="viewport" content="width=device-width,initial-scale=1">
  <meta name="theme-color" content="{{ settings.shop_bg_color }}">
  <link rel="canonical" href="{{ canonical_url }}">

  {%- if current_tags -%}{%- assign meta_tags = current_tags | join: ', ' -%}{%- endif -%}
  <title>{%- if template contains "index" -%}{{ page_title }}{%- else -%}{{ page_title }}{% if current_tags %} {{ 'general.meta.tagged_html' | t: tags: meta_tags }}{%- endif -%}{% if current_page != 1 %} {{ 'general.meta.page' | t: page_number: current_page }}{% endif %}{% unless page_title contains shop.name %} - {{ shop.name }}{% endunless %}{% endif %}</title>

  <!-- DNS prefetches and Preconnects -->
  <link rel="dns-prefetch" href="https://fonts.shopify.com">
  <link rel="preconnect" href="https://fonts.shopify.com" crossorigin>
  
  <!-- Preloads -->  
  <link rel="preload" href="{{ 'styles.css' | asset_url }}" as="style">
  {% render 'template_styles', type: 'preload'%}
  <link rel="preload" href="{{ 'jquery.min.js' | asset_url }}" as="script">
  
  <!-- CSS for Flex "2.0.9" -->
  <link rel="stylesheet" href="{{ 'styles.css' | asset_url }}">
  {% render 'template_styles'%}

  <noscript>
    <style>
      /* Insert styles for styles when JS is not loaded */
      .noscript {display: block;}
    </style>
  </noscript>

  {%- if page_description -%}
    <meta name="description" content="{{ page_description | escape }}{% if current_tags %} {{ 'general.meta.tagged_html' | t: tags: meta_tags | escape }}.{% endif %}{% if current_page != 1 %} {{ 'general.meta.page' | t: page_number: current_page }}.{% endif %}" />
  {%- endif -%}

  {%- if settings.favicon != nil -%}
    <link rel="shortcut icon" type="image/x-icon" href="{{ settings.favicon | img_url: '180x180' }}">
    <link rel="apple-touch-icon" href="{{ settings.favicon | img_url: '180x180' }}"/>
    <link rel="apple-touch-icon" sizes="57x57" href="{{ settings.favicon | img_url: '57x57' }}"/>
    <link rel="apple-touch-icon" sizes="60x60" href="{{ settings.favicon | img_url: '60x60' }}"/>
    <link rel="apple-touch-icon" sizes="72x72" href="{{ settings.favicon | img_url: '72x72' }}"/>
    <link rel="apple-touch-icon" sizes="76x76" href="{{ settings.favicon | img_url: '76x76' }}"/>
    <link rel="apple-touch-icon" sizes="114x114" href="{{ settings.favicon | img_url: '114x114' }}"/>
    <link rel="apple-touch-icon" sizes="180x180" href="{{ settings.favicon | img_url: '180x180' }}"/>
    <link rel="apple-touch-icon" sizes="228x228" href="{{ settings.favicon | img_url: '228x228' }}"/>
  {%- else -%}
    <link rel="shortcut icon" type="image/x-icon" href="{{ 'favicon.png' | asset_url }}">
  {%- endif -%}

  {% comment %}{{ content_for_header }}{% endcomment %}

  {% render 'social-meta-info' %}
  {% if collection.previous_product %}<link rel="prev" href="{{ collection.previous_product }}">{% endif %}
  {% if collection.next_product %}<link rel="next" href="{{ collection.next_product }}">{% endif %}

  <!-- Start Dynamic Yield scripts -->
  {% include 'dynamic_yield' %}
  <!-- End Dynamic Yield scripts -->

  <!-- Start NoFraud script -->
  {% include 'nofraud_script' %}
  <!-- End NoFraud script -->
  <script src="{{ 'jquery.min.js' | asset_url }}"></script>
  
 
  {%- capture speedopz_head -%}
  <noscript id="shpI"></noscript> 
</head>
<body>
  
{%- endcapture %}
{%- liquid
  assign hasVertical = ''
  if settings.header_layout == 'vertical'
  assign hasVertical = ' has-vertical-header' 
  endif
  assign bodyClass = template | replace: '.', '-' | handle | append: hasVertical | append: '" ' 
  if template == '404'
  assign bodyClass = 'error-404' | append: hasVertical | append: '" '
  endif
  assign shopCurrencyFormat = shop.money_format | strip_html
  if settings.currency_format == 'money_with_currency_format' 
  assign shopCurrencyFormat = shop.money_with_currency_format | strip_html
  endif
  -%}
{{ speedopz_head | remove: '<body>' | append: '</hea' | append: 'd><body class="' | append: bodyClass }}data-money-format="{{ shopCurrencyFormat }}" data-shop-url="{{ shop.url }}" data-current-lang="{{ request.locale.iso_code }}">

{% if template.name == 'index' %}
<script type="application/ld+json">
  {
    "@context": "http://schema.org",
    "@type": "WebSite",
    "name": "{{ shop.name }}",
    "potentialAction": {
      "@type": "SearchAction",
      "target": "{{ routes.search_url }}?q={search_term_string}",
      "query-input": "required name=search_term_string"
    },
    "url": "{{ shop.url }}{{ page.url }}"
  }
</script>
{% endif %}
  <!-- Google Tag Manager (noscript) -->
<noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-5CZGVKG"
height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
<!-- End Google Tag Manager (noscript) -->
  
  {%- if settings.show_announcement_bar -%}
    {% section 'announcement-bar' %}
  {%- endif -%}

  {%- if settings.header_layout == "classic" -%}
    {% section 'header__top-bar' %}
    {% section 'header-classic' %}
  {%- elsif settings.header_layout == "custom" -%}
    {% section 'header__top-bar' %}
    {% section 'header-custom' %}
  {%- elsif settings.header_layout == "centered" -%}
    {% section 'header-centered__top-bar' %}
    {% section 'header-centered' %}
  {%- elsif settings.header_layout == "vertical" -%}
    {% section 'header-vertical' %}
  {%- elsif settings.header_layout == "search_focus" -%}
    {% section 'header__top-bar' %}
    {% section 'header-search-focus' %}
  {%- endif -%}

  {%- if settings.cart_action == 'drawer' -%}
    {% render 'ajax-cart', context: 'mobile-header' %}
  {%- endif -%}

  {% if settings.mega_menu_1 == true %}
    {% section 'mega-menu-1' %}
  {% endif %}
  {% if settings.mega_menu_2 == true %}
    {% section 'mega-menu-2' %}
  {% endif %}
  {% if settings.mega_menu_3 == true %}
    {% section 'mega-menu-3' %}
  {% endif %}
  {% if settings.mega_menu_4 == true %}
    {% section 'mega-menu-4' %}
  {% endif %}
  {% if settings.mega_menu_5 == true %}
    {% section 'mega-menu-5' %}
  {% endif %}
  {% if settings.mega_menu_6 == true %}
    {% section 'mega-menu-6' %}
  {% endif %}
  {% if settings.mega_menu_7 == true %}
    {% section 'mega-menu-7' %}
  {% endif %}
  {% if settings.mega_menu_8 == true %}
    {% section 'mega-menu-8' %}
  {% endif %}
  {% if settings.mega_menu_9 == true %}
    {% section 'mega-menu-9' %}
  {% endif %}
  {% if settings.mega_menu_10 == true %}
    {% section 'mega-menu-10' %}
  {% endif %}

  {% if settings.header_layout == "vertical" %}
    <div class="is-beside-vertical-header">
  {% endif %}

  {% if collection.metafields.portal_sections.category_nav and template != 'product' %}
    {% render 'mini_category-nav' %}
  {% endif %}

  {{ content_for_layout }}

  {% if template contains 'collection' %}
    <button class="back_to_top-button js-back_to_top sp-fas sp-fa-arrow-up">
      <span class="hide">Back to top</span>
    </button>
  {% endif %}

  {% if settings.footer_layout == "centered" %}
    {% section 'footer__icon-bar' %}
    {% section 'footer-centered' %}
  {% elsif settings.footer_layout == "classic" %}
    {% section 'footer__icon-bar' %}
    {% section 'footer-classic' %}
  {% elsif settings.footer_layout == "promotional" %}
    {% section 'footer__icon-bar' %}
    {% section 'footer-promotional' %}
  {% endif %}

  {% if settings.header_layout == "vertical" %}
    </div>
  {% endif %}

  {% if settings.show_fixed_message %}
    {% section 'fixed-message' %}
  {% endif %}

  {% if settings.enable_quickshop %}
    {% render 'quick-shop' %}
  {% endif %}

  {% if settings.search_display_style == 'popup' %}
    {% render 'search-popup' %}
  {% endif %}

  {% if settings.show_popup %}
    {% section 'popup' %}
  {% endif %}

  {% render 'mobile-search' %}
  
  {% liquid
assign url = 'theme.js' | asset_url
unless request.design_mode
assign url = url | append: '&enable_js_minification=1'
endunless
%}
<script src="{{ url }}" defer=defer type="text/javascript"></script>

  <script>
    {% render 'js-variables' %}
  </script>
  <script src="{{ 'vendors.js' | asset_url }}" defer></script>
  <script src="{{ 'utilities.js' | asset_url }}" defer></script>
  <script src="{{ 'app.js' | asset_url }}" defer></script>

  {%- if settings.show_multiple_currencies or shop.enabled_currencies.size > 1 -%}
    <script type="text/javascript" src="{{ 'currencies.js' | shopify_asset_url }}" defer></script>
    <script src="{{ 'currencyConversion.js' | asset_url }}" defer></script>
  {%- endif -%}

  {%- if settings.enable_shipping_calculator and template contains "cart" -%}
    <script src="{{ 'shopify_common.js' | shopify_asset_url }}" defer></script>
    <script src="{{ 'api.jquery.js' | shopify_asset_url }}" defer></script>
    <script src="{{ 'countries.js' | shopify_asset_url }}" defer></script>
  {%- endif -%}

  {%- if template.directory == 'customers' -%}
    <script src="{{ 'shopify_common.js' | shopify_asset_url }}" defer></script>
    <script src="{{ 'customer_area.js' | shopify_asset_url }}" defer></script>
  {%- endif -%}

  {% if settings.disqus_enabled %}
    {% if template contains "blog" or template contains "article" %}
      <script id="dsq-count-scr" src="//{{ settings.disqus_shortname }}.disqus.com/count.js" async></script>
    {% endif %}
  {% endif %}

  {% render 'sezzle-scripts' %}
  <!-- Shopping Guarantee Seal -->
<script type="text/javascript" src="//guarantee-cdn.com/Web/Seal/gjs.aspx?SN=964189253" async></script>
  <script>
      $(".quick_shop").click(function(){$(".fancybox-container").css("display", "block")});
      formatTrekkie ("shpI");
  </script>
</body>
</html>
{% endcapture %}
{% assign content = content | replace_first: '<!doctype', '!doctype' | split: ' <' %}
{%- for html in content -%}{%- assign htmlblock = html | strip | prepend: ' <' -%}{{htmlblock | replace: ' </', '</'}}{%- endfor -%}
